<p class="lead">Universidade Federal do Rio Grande do Sul</p>
<ul>
  <li><%= I18n.t("curriculum.education.ufrgs_spec") %></li>
</ul>
<p class="lead">Universidade de Sao Paulo</p>
<ul>
  <li><%= I18n.t("curriculum.education.usp_spec") %></li>
</ul>
