<div class="row-fluid">
  <div class="span4">
    <img id="my_pic" src="/img/com_cesarsalgado_bariloche.jpg" />
  </div>
  <div class="span8">
  	<div class="lead">
	    <%= partial "content/#{I18n.locale}/about_text" %>
  	</div>
  </div>
</div>
