<div class="row-fluid">
  <div class="span4">
    <img id="my_pic" src="img/com_cesarsalgado_bariloche.jpg" />
  </div>
  <div class="span8">
    <p class="lead">Hi! My name is Cesar Salgado Vieira de Souza. I graduated in 2012 from University of Sao Paulo with a B.S. in Computer Engineering.</p>
    <p class="lead">In 2012 I worked as a Software Engineer for 8 months programming in Java. Then I decided to take a year off to study many things which I would like to know more before moving on.</p>
  </div>
  <p class="lead">Next year I plan to start a master's degree program. Probably in the area of Machine Learning. But I'm not sure yet. I like physics too, so maybe I will try a masters in this field.</p>
</div>