---
layout: layout
sections:
  - Bio
  - Hobbies
---

<%= partial(:top_navbar, :locals => { :about_active => 'active'}) %>

<div class="container">

  <!-- sites nav
  ================================================== -->
  <div class="row">

    <%= partial "side_navbar" %>

    <div class="span9">

      <section id="bio">
        <div class="page-header">
          <h1>Bio</h1>
        </div>  
        <p class="lead">Hi! My name is Cesar Salgado Vieira de Souza.</p>
      </section>

      <section id="hobbies">
        <div class="page-header">
          <h1>Hobbies</h1>
        </div>  
        <p class="lead">Swimming and Playing Guitar.</p>
      </section>

    </div>
  
  </div>
</div>