<div id="content">

  <img id="my_pic" src="img/com_cesarsalgado_bariloche.jpg"/>

  <p>Hi. My name is Cesar Salgado Vieira de Souza. I have a B.S. in Computer Engineering from the University of Sao Paulo. I lived most of my life in a Brazilian city called Pindamonhangaba. I also lived one year in Herning, Denmark as a Rotary exchange student and in Sao Carlos while pursuing my Bachelor's degree.</p>

  <p>The fields of study which I like most are Computer Science, Physics, and Mathematics. Other fields which I have studied little, but I want to study more are Economy and Neuroscience.</p>

  <p>Other things which I like are: playing guitar and swimming.</p>

  <p>In this site I will show some additional informational about myself and I also will provide some recommendations to some nice resources.</p>

  <p>If you are interested in my resume click <a href="http://dl.dropbox.com/u/9578179/cesar_salgado_resume.pdf">here</a>.</p>

  <hr>
  <h2>Online Classes</h2>

  <p>
    Since I discovered MITOpenCourseware in 2008 I've been pretty excited with free online education. 
    Since then, I've been taking many online classes. 
    Below I show a list with some of my favorite sites for free online education:
  </p>

  <ul>
    <li><a href="http://ocw.mit.edu">MIT OpenCourseWare</a></li>
    <li><a href="http://coursera.com">Coursera</a></li>
    <li><a href="http://udacity.com">Udacity</a></li>
    <li><a href="http://edx.org">edX</a></li>
    <li><a href="http://webcast.berkeley.edu/">webcast.berkeley</a></li>
    <li><a href="http://oyc.yale.edu/">Open Yale Courses</a></li>
    <li><a href="http://www.codecademy.com/">Codecademy</a></li>
    <li>Sites with Stanford Courses (except Coursera)<ul>
      <li><a href="http://online.stanford.edu/">Stanford Online</a></li>
      <li><a href="http://openclassroom.stanford.edu/">openclassroom</a></li>
      <li><a href="http://see.stanford.edu/">Stanford Engineering Everywhere</a></li>
    </ul></li>
    <li><a href="http://cs.harvard.edu/malan">CS courses from Harvard taught by David J. Malan</a></li>
  </ul>

  <h3>Online Courses I've taken</h3>
  <ul>
    <li>Computer Science<ul>
      <li>Artificial Intelligence<ul>
        <li>CS188.1x: Artificial Intelligence - Berkeley - edX</li>
        <li>Machine Learning - Stanford - Coursera</li>
      </ul></li>
      <li>Others<ul>
        <li>Algorithms: Design and Analysis, Part 1 - Stanford - Coursera</li>
        <li>Algorithms: Design and Analysis, Part 2 - Stanford - Coursera</li>        
        <li>Functional Programming Principles in Scala - EPFL - Coursera</li>
        <li>CS169.1x: Software as a Service - Berkeley - edX</li>
        <li>CS169.2x: Software as a Service - Berkeley - edX</li>
        <li>Cryptography I - Stanford - Coursera</li>
        <li>Introduction to Computer Science - Udacity (Although the concepts of computer science were pretty easy for me, this class was still helpful to learn the basics of python and search engines)</li>
      </ul></li>
    </ul></li>
    <li>Neuroscience<ul>
      <li>Computational Neuroscience - University of Washington - Coursera</li>
      <li>Synapses, Neurons and Brains - University of Jerusalem - Coursera</li>
    </ul></li>
    <li>Physics<ul>
      <li>C10: Physics for future Presidents, with Richard A. Muller - webcast.berkeley</li>
      <li>8.02: Electricity and Magnetism - MIT OpenCourseWare</li>
    </ul></li>
    <li>Mathematics<ul>
      <li>18.06: Linear Algebra - MIT OpenCourseWare</li>
    </ul></li>
    <li>Social Sciences and Humanities<ul>
      <li><a href="http://www.justiceharvard.org">Justice - Harvard</a></li>
      <li>Introduction To Psychology, with Paul Bloom - Open Yale Courses</li>
    </ul></li>
  </ul>

  <h3>Courses that I am currently taking</h3>
  <ul>
    <li>Startup Engineering - Stanford - Coursera</li>
  </ul> 

  <hr>
  <h2>Books</h2>

  <p>In this section I recommend some books I read that I think is worth sharing.</p>

  <h3>Technical Books</h3>
  <ul>
    <li>Computer Science<ul>
      <li>Effective Java, Joshua Bloch</li>
      <li>Computer Networking: a top-down approach, James F. Kurose / Keith W. Ross</li>
      <li>Coders at Work: Reflections on the Craft of Programming, Peter Seibel (not so sure if this one should be in the Technical Books section)</li>
    </li></ul>        
    <li>Physics<ul>
      <li>Electricity and Magnetism: berkeley physics course - Volume 2, Edward M. Purcell</li>
      <li>Introduction to Special Relativity, Robert Resnick</li>
      <li>Feynman Lectures on Physics. vol I (still reading - 50%)
        <ul>
          <li>Although I just went through half the book I can already tell that this is one of the best technical books out there.</li>
          <li>I also recommend watching some documentaries about Richard Feynman on YouTube. He is indeed a very curious character.</li>
        </ul>
      </li>
    </li></ul> 
  </ul>

  <h3>Non Technical Books</h3>
  <ul>
    <li>The Drunkard's Walk: How Randomness Rules Our Lives, Leonard Mlodinow</li>
    <li>Sophie's World, Jostein Gaarder</li>
    <li>The Autobiography of Benjamin Franklin</li>
  </ul>

  <p>For those who don't know what gift to give to me, here is <a href="http://amzn.com/w/OH54QS5AB7ED">my wish list</a> for books at Amazon.</p>


  <hr>
  <h2>Looking for some challenges?</h2>

  <p>In this section I list some sites which provide challenges in Computer Science. I haven't tried challenges in all of these sites, but each one seems to be very good.</p>

  <ul>
    <li><a href="http://www.hackerrank.com/">HackerRank</a>: Solve fun programming challenges.</li>
    <li><a href="http://www.kaggle.com/">Kaggle</a>: Kaggle is an arena where you can match your data science skills against a global cadre of experts in statistics, mathematics, and machine learning.
    <li><a href="http://code.google.com/codejam">Google Code Jam</a>: Google Code Jam is an international programming competition hosted and administered by Google (source: <a href="en.wikipedia.org/wiki/Google_Code_Jam">Wikipedia</a>).</li>
    <li><a href="http://www.codechef.com/">CodeChef</a>: CodeChef was created as a platform to help programmers make it big in the world of algorithms, computer programming and programming contests.</li>
    <li><a href="http://projecteuler.net/">Project Euler</a>: Project Euler is a series of challenging mathematical/computer programming problems that will require more than just mathematical insights to solve.</li>
    <li><a href="http://www.topcoder.com/">TopCoder</a>: When you participate in the TopCoder community you gain access to a world of interesting things to do in the form of sophisticated and challenging tournaments, an increasing number of client projects and social interaction with some of the best minds in their respective fields.</li>
  </ul>

  <small>Obs: every description for the above sites was copied from their own pages except when mentioned otherwise.</small>

  <hr>
  <h2 id='elsewhere'>Elsewhere</h2>

  <p><a href='http://www.linkedin.com/pub/cesar-salgado/13/641/505'>Linkedin</a>, <a href='https://plus.google.com/100294158210704939412'>Google+</a>, <a href='http://www.facebook.com/cesar.salgado.332'>Facebook</a>, <a href="https://www.quora.com/Cesar-Salgado-1">Quora</a>, <a href='http://gravatar.com/cesarsvs'>Gravatar</a>, <a href='https://github.com/cesarsalgado'>Github</a>, <a href='http://stackoverflow.com/users/604964/cesarsalgado'>Stack Overflow</a>, <a href='https://www.coursera.org/user/i/fb008f4a5da0fc74f5edd8cb5c2413ff'>Coursera</a></p>
</div>